.page-footer {
  background-color: $page-blue;
}

.page-footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;

  .site-navigation {
    margin-bottom: 7px;
  }
}

.page-footer__middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;

  .site-navigation {
    margin-top: 5px;
  }
}

.page__footer__site-navigation {
  max-width: 700px;

  .site-navigation__link {
    padding: 0;
    margin: 0 29.5px;
    font-size: 18px;
    background-color: transparent;
    box-shadow: none;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      text-decoration: none;
    }
  }

  .site-navigation__item:first-child > .site-navigation__link {
    margin-left: 0;
    padding-left: 0;
  }

  .site-navigation__item:last-child > .site-navigation__link {
    margin-right: 0;
    padding-right: 0;
  }
}

.page-footer__contacts {
  width: 380px;
  padding-top: 1px;
  padding-left: 3px;

  .contacts__address {
    font-size: 18px;
    text-align: left;
    color: $text-light;
  }
}

.page-footer__bottom {
  padding-top: 37px;
  padding-bottom: 28px;
  background-color: $page-darkblue;

  & > .container {
    display: flex;
  }
}

.page-footer__copyright {
  margin: 0;
  width: 310px;
  font-size: 16px;
  line-height: 18px;
  color: $text-light;
}

.page-footer__social {
  width: 300px;
  margin-right: auto;
  align-self: flex-start;
}

.page-footer__developer {
  margin-right: 13px;
}

.page-footer__developer:not(:last-child) {
  margin-right: 50px;
}

