.page-header {
  padding-bottom: 65px;
  background-color: $page-light;
}

.page-header__wrapper-top {
  background-color: $page-darkblue;
}

.page-header__wrapper-top > .container {
  display: flex;
}

.page-header__wrapper-mid {
  padding: 46px 10px 0 63px;
  margin-bottom: 39px;
  display: flex;
  align-items: flex-start;
}

.page-header__page-title {
  margin: 3px 67px 0 0;
  flex-shrink: 0;
}

.page-header__contacts {
  margin-right: auto;
  flex-shrink: 0;
}
