.popular-goods {
  margin-bottom: 20px;
}

.popular-goods__heading {
  margin-bottom: 20px;
}

.popular-goods__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  padding: 0;
  list-style: none;
}

.popular-goods__item {
  position: relative;
  margin: 0 10px;
}
