.popular-brands {
  margin-bottom: 65px;
}

.popular-brands__heading {
  margin-bottom: 20px;
}

.popular-brands__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  padding: 0;
  list-style: none;
}
