.promo-categories {
  padding-top: 59px;
  margin-bottom: 53px;
}

.promo-categories__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 -286px 0;
  padding: 0;
  list-style: none;
}
