.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation__item {
  flex-grow: 1;
}

.site-navigation__item:first-child > .site-navigation__link {
  padding-left: 47px;
}

.site-navigation__item:last-child > .site-navigation__link {
  padding-right: 49px;
}

.site-navigation__link {
  display: block;
  padding: 20px 25px 18px;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: $text-light;
  background-color: $page-blue;
  box-shadow: 0 5px 0 0 $page-darkblue;

  &:hover {
    background-color: $page-darkblue;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
    box-shadow: 0 5px 0 0 #1d2739;
  }
}

.site-navigation__link--product {
  color: $text-yellow;

  &:active {
    color: rgba(255, 209, 128, 0.5);
  }
}
