/* Colors */

$page-red: #ee3643;
$page-red-hover: #ca2c37;
$page-red-active: #ba2732;

$page-red-shadow: #b52933;
$page-red-hover-shadow: #9a212a;
$page-red-active-shadow: #8e1e26;

$page-blue: #32425c;
$page-darkblue: #293449;
$page-darkblue-hover: #212a3a;
$page-darkblue-active: #161d29;

$page-light: #f4f7f9;
$page-yellow: #f9f5f0;

$btn-green: #63a63e;
$btn-green-hover: #5fbb2d;
$btn-green-active: #518534;
$btn-green-shadow: #367315;

$light-border: #f5f5f5;
$light-border: #eaeaea;
$service-border: #4d637b;
$social: #212a3a;

$text: #000000;
$text-blue: #32425c;
$text-light: #ffffff;
$text-yellow: #ffd180;
$text-grey: #999999;

$promo-yellow: #ffbf47;
$promo-blue: #3bbce3;
$promo-magenta: #dc91d8;
$promo-green: #8ed78f;

$form-border: #d7dcde;
$form-hover: #b5b5b5;
